<div class="row">
    <div class="col-md-4">
        <a routerLink="/monitor">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Monitor</div>
            <div class="card-body text-center">
                <h4 class="card-title"><i class="fa-solid fa-desktop fa-5x"></i></h4>
                <p class="card-text">Este módulo está diseñado para proporcionar una visión detallada del estado actual del hardware del sistema.</p>
            </div>
        </div>
        </a>
    </div>

    <div class="col-md-4">
        <a routerLink="/manager">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">System Manager</div>
            <div class="card-body text-center">
                <h4 class="card-title"><i class="fa-solid fa-gamepad fa-5x"></i></h4>
                <p class="card-text">Módulo de gestión de ROMs, videos, logos y emuladores. Facilita la descarga, organización y gestión de archivos multimedia</p>
            </div>
        </div>
        </a>
    </div>

    <div class="col-md-4">
        <a routerLink="/screen-recorder">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Screen Recorder</div>
            <div class="card-body text-center">
                <h4 class="card-title"><i class="fa-solid fa-clapperboard fa-5x"></i></h4>
                <p class="card-text">Módulo  proporciona una solución sencilla y eficiente para grabar la pantalla y el audio del sistema, ideal para capturar gameplays.</p>
            </div>
        </div>
        </a>
    </div>
</div>
